
.navbar-flex {

    display: flex;
    justify-content: space-between;
    /* Distribuye el espacio: logo a la izquierda, menú a la derecha */
    align-items: center;
    /* Centra verticalmente el logo y los enlaces */
    margin: auto;
    padding: auto;
    /* Espaciado alrededor */
    background-color: green;
    /* Fondo verde */
}

.navigation {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.navigation li {
    margin-right: auto;
}

/* 4. Estilos de los enlaces */
.navigation a {
    text-decoration: none;
    /* Quita el subrayado */
    color: white;
    /* Color del texto */
    font-size: 3.5rem;
    padding: 1rem 1rem;
}

.logo {
    width: 10rem;
    height: 10rem;
}

section {
    display: flex;
    /* Convierte el nav en un contenedor flexible */
    justify-content: space-around;
    /* Distribuye el espacio: logo a la izquierda, menú a la derecha */
    align-items: center;
    /* Centra verticalmente el logo y los enlaces */
    margin: auto;
    padding: auto;

}

.imagen {

    height: 40rem;


}








footer {
    display: flex;
    justify-content: space-between;

    bottom: 0;
    width: 100%;
    background-color: green;
    color: white;
    padding: 0;
    text-align: center;
    z-index: 1000;

}

footer p {
    padding: 0em 5rem;
}